<div class="container" fxLayout="" fxLayoutAlign="center center">
<form class="formContainer" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="onSubmit()">
  <h2>LOGIN</h2>
  <mat-form-field  appearance="outline" >
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field  appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" matInput minlength="6" [formControl]="passwordFormControl">
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('minlength')">
       Check Password length
      </mat-error> 
  </mat-form-field>
  <div fxLayoutAlign="end">
    <button mat-raised-button type="submit" color="primary" [disabled]="!(passwordFormControl.valid && emailFormControl.valid) ">Login</button>
  </div>
</form>
</div>
